version: '3'

services:
  # Backend Service
  backend:
    # Connect your build to the FOLDER location of your backend Dockerfile
    build: ./backend
    container_name: backend
    image: yourdockerhubusername/backend

    # Connect an open localhost port to your exposed backend port
    ports:
      - "5000:5000"

    # Connect two volumes for backend
    #  1️⃣ Map your local backend folder to the working directory (/app)
    #  2️⃣ Create a volume for node_modules
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules

    # Leave this, this helps node.js know that there is something running in production
    environment:
      - NODE_ENV=production

    # Connect your backend to the network name created below
    networks:
      - app-network

  # Frontend Service
  frontend:
    # Connect your build to the FOLDER location of your frontend Dockerfile
    build: ./frontend
    container_name: frontend
    image: yourdockerhubusername/frontend

    # Connect an open localhost port to your exposed frontend port
    ports:
      - "3000:3000"

    # Connect two volumes for frontend
    #  1️⃣ Map your local frontend folder to the working directory (/app)
    #  2️⃣ Create a volume for node_modules
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules

    # Leave this, this helps node.js know that there is something running in production
    environment:
      - NODE_ENV=development
      - NODE_OPTIONS=--openssl-legacy-provider

    # This makes sure the front end looks for the backend
    depends_on:
      - backend

    # Connect your frontend to the network name created below
    networks:
      - app-network

volumes:
  # list the names of the two volumes you created to hold the node_modules
  backend_node_modules:
  frontend_node_modules:

networks:
  app-network:
    driver: bridge
